@import "variables";

.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 4rem 2rem;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $color-indigo;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        max-width: 800px;

        .profile-pic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            color: $color-gray;
        }
    }
}