.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    text-align: left;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $color-indigo;
    }

    .about-content {
        display: flex;
        gap: 2rem;
        align-items: center;
        max-width: 900px;

        .profile-pic {
            width: 220px;
            border-radius: 50%;
            object-fit: cover;
        }



        p {
            font-size: 1.1rem;
            line-height: 1.7;
        }
    }

    /* --- MOBILE --- */
    @media (max-width: 768px) {
        .about-content {
            flex-direction: column;
            text-align: center;

            p {
                max-width: 90%;
            }
        }
    }
}