@use "variables" as *;

.contact-section {
    padding: 4rem 2rem;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $color-indigo;
    }

    p {
        color: $color-gray;
        margin-bottom: 1rem;
    }

    .contact-icons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
        color: $color-indigo;

        a i {
            color: $color-gray;
            transition: color 0.3s;

            &:hover {
                color: $color-indigo;
            }
        }
    }

    @media (max-width: 768px) {
        #contact {
            padding: 2rem 1rem;
            text-align: center;
        }

        .contact-icons {
            flex-direction: column;
            gap: 0.75rem;
        }
    }
}