@use "variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $color-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 1.5rem;
        color: $color-indigo;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        a {
            text-decoration: none;
            color: $color-gray-dark;
            transition: color 0.3s;

            &:hover {
                color: $color-indigo;
            }
        }
    }
}