@use "variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $color-white;
}

h1 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    a {
        text-decoration: none;
        color: $color-gray;
        transition: color 0.3s;


        &:hover {
            color: $color-indigo;
        }
    }
}