@use "variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $color-white;

    .menu-toggle {
        display: none;
        font-size: 1.8rem;
        cursor: pointer;
        color: $color-indigo;
    }

    h1 {
        font-size: 1.5rem;
        color: $color-indigo;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        a {
            text-decoration: none;
            color: $color-indigo;
            transition: color 0.3s;

            &:hover {
                color: $color-indigo;
            }
        }
    }

    /* --- MOBILE --- */
    @media (max-width: 768px) {
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        .menu-toggle {
            display: block;
        }

        ul {
            display: none;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            padding: 0;
        }

        &.open ul {
            display: flex;
        }
    }
}